body {
    justify-content: center;
}

#sheet {
    width: 1000px;   
    margin-left: 200px;
}

#top {
    display:flex;
    justify-content: center;
    padding-top: 20px;
    border: 5px solid black;
}

#character_sheet {
    margin-top: 40px;
    margin-right: 40px;
}

#info_section {
    margin-left: 50px;
    margin-bottom: 20px;
    border: 5px solid indigo;
}

.info_tab {
    /* margin-bottom: 10px; */
    margin-left: 40px;
}

#upper {
    display: flex;
    margin-top: 5px;
    margin-right: 50px;
}

#lower {
    display: flex;
    margin-left: 10px;
}

#bottom {
    display: flex;
    border: 5px solid black;
}

.b_section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 100px;
    padding-right: 100px;
    border: 5px solid indigo;
}

#stats {
    display: flex;
}

.ability {
    margin-left: 5px;
    border: 3px solid blue;
}

.skill_type {
    margin-top: 5px;
    display: flex;
    margin-left: 10px;
    border: 1px dotted red;
    font-size: 10px;
    width: 150px;
}

.skill_mod {
    margin-right: 2px;
}

#skills {
    margin-left: 10px;
    border: 2px dotted magenta;
}