body {
    justify-content: center;
}

#top {
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

#character_sheet {
    margin-right: 40px;
}

#info_section {
    margin-left: 40px;
}

.info_tab {
    /* margin-bottom: 10px; */
    margin-left: 40px;
}

#upper {
    display: flex;
    margin-right: 50px;
}

#lower {
    display: flex;
    margin-left: 10px;
}